body{
    margin: 0;
    background-color: #E5E5E5;
    margin: 0;
    overflow-x: hidden;
}

/* Navigation */
.container-fluid{
    padding: 0 0 0 3%;
}
.other{
    padding: 0 3% 0 0;
}
.navbar {
    background-color: #E5E5E5 !important;
    margin: 0;
    
  }
.dropdown-menu{
    background-color: #E5E5E5;
}


.navbar-nav li {
    padding: 0 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: #798280;

  }
.navbar-brand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #162320;
}


/* About us */
#About-us h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 115%;;
    color: #162320;
}
.about-us p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    color: #162320;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.about-us-left{
    gap: 56px;
    text-align: left;
    
    
}
.about-us-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .about-us-left {
    margin-top: auto; 
  }
  .about-us-right {
    position: relative;
    margin-right: 0;
    padding-right: 0;
    text-align: right;
  }
  .about-us-right .img1{
    position: relative;
    margin-top: -155px;
  }
 .about-us-right .img2{
    position: relative;
    width: 300px;
    height: auto;
    margin-top: -200px;
    margin-left: 200px; 
 }