body{
    margin: 0;
    background-color: #E5E5E5;
    margin: 0;
    overflow-x: hidden;
}

/* Navigation */
.container-fluid{
    padding: 0 0 0 3%;
}

.navbar {
    background-color: #E5E5E5 !important;
    margin: 0;
    
  }
.dropdown-menu{
    background-color: #E5E5E5;
}


.navbar-nav li {
    padding: 0 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
    color: #798280;

  }
.navbar-brand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    color: #162320;
}
.nav-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 62px;
    border-radius: 0;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 29px;
    text-align: center;
    color: #3B4744;
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 100%;
}


/* About us */
.about-us-section {
    background-image: url('./Images/about-us-background.jpg');
    background-size: cover; 
    align-items: left;
    
  }
.about-us-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left; 
    margin-left: 4%;
    margin-right: 60%;
    padding:15% 5% 8% 1%;
    background-color: rgba(217, 217, 217, 0.25);
   
    
    
}
.about-us-left h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 115%;;
    color: #162320;
}
.about-us-left p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 150%;
    color: #162320;
}

.about-us-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    background: #FFA800;
    border-radius: 3px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3B4744;
    width: 250px;
    
}

 

 /* Collection */
 #Collection{
    background: #C9C9C9;
    padding: 7% 5% 7% 5%;
}

 .collection-top{
    padding: 0 0 5% 0;
    text-align: left;
 }
 .collection-top h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 100%;
    color: #162320;
    margin-top: 0;
 }
 .collection-top p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    color: #162320;
    align-self: stretch;
 }
 .collection-container{
   
    text-align: left; 
 }
 .collection-container img{
    width: 400px;
    height: auto;
    padding-bottom: 20px;
    
 }

 .collection-item{
    padding: 0 10px 0 0;
 }
