body{
    margin: 0;
    background-color: #E5E5E5;
    margin: 0;
    overflow-x: hidden;
    -webkit-user-select: none; /* Disable text selection for Safari */
    -moz-user-select: none; /* Disable text selection for Firefox */
    -ms-user-select: none; /* Disable text selection for Internet Explorer */
    user-select: none; /* Disable text selection for other browsers */

}
a {
  text-decoration: none;
}
/* Navigation */
.container-fluid{
    padding: 0 0 0 3%;
}
.navbar-logo{
    height: 40px;
}

.navbar {
    background-color: #E5E5E5 !important;
    margin: 0;
    
  }
.dropdown-menu{
    background-color: #E5E5E5;
}


.navbar-nav li {
    padding: 0 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
    color: #798280;

  }
.navbar-brand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    color: #162320;
}
.nav-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 62px;
    border-radius: 0;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 29px;
    text-align: center;
    color: #3B4744;
    flex: none;
    order: 0;
    flex-grow: 0;
    height: 100%;
}


/* Change the color of the dropdown items */
.dropdown-item {
  color: #333;
}

/* About us */
.about-us-section {
    background-image: url('../Images/about-us-background.jpg');
    background-size: cover; 
    align-items: left;
    
  }
.about-us-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left; 
    margin-left: 4%;
    margin-right: 60%;
    padding:15% 5% 13% 1%;
    background-color: rgba(217, 217, 217, 0.25);
   
}
.about-us-left h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 115%;;
    color: #162320;
}
.about-us-left p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 150%;
    color: #162320;
}

.about-us-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    background: #FFA800;
    border-radius: 3px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #3B4744;
    width: 250px;
    
}

 

 /* Collection */
 #Collection{
    background: #C9C9C9;
    padding: 7% 5% 10% 5%;
    

}

 .collection-top{
    padding: 0 0 5% 0;
    text-align: left;
 }
 .collection-top h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 100%;
    color: #162320;
    margin-top: 0;
 }
 .collection-top p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    color: #162320;
    align-self: stretch;
 }
 .collection-container{
    text-align: left; 
    display: flex;
    justify-content: center;
    margin: auto;
    
 }
 .collection-item {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .collection-item img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .collection-item h5{
     text-align: left;
        margin: 10px 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 150%;
        color: #162320;
  }
  .collection-item p {
    text-align: left;
    margin: 10px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #162320;
    
  }
  .collection-item:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  


 
/* News */
.news-carousel{
    margin-top: -5%;
}
  .news-container{
    padding: 0 5% 5% 5%;
}

  .news-carousel img{
    display: block;
    max-width: 100%;
    height: auto;
    
     
    }
     
  .star-rating {
    color: #162320;
    font-size: 0.8remx;
  }
  .news-title{
    padding-top: 10%;
  }
  .news-title h1{
    padding-top: 5%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 150%;
    color: #162320;
  }
  .news-button{
    padding-top: 5%;
    width: 300px;
   
}
.news-button button{
    color: #162320;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
    color: #162320;
}


/* footer */
 #footer{
    padding: 3% 5% 3% 5%;
    background-color: #C9C9C9;
 }
 .footer-container h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #798280;
 }
 .footer-container p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #798280;
 }
 .footer-container .fa-brands{
   
        font-size: 20px; 
        color: #798280; 
        padding: 0 5%;
      
 }
 .footer-right h3{
    padding: 5%;
 }
 .container {
  display: flex;
  justify-content: center; /* center the reserved div horizontally */
  align-items: center; /* center the reserved div vertically */

}

.reserved {
  display: flex;
  justify-content: center; /* center the i and p elements horizontally */
  align-items: center; /* center the i and p elements vertically */
  margin-top: 20px; /* add some space at the top */
}

.reserved i {
  height: 20px;
  line-height: 20px; /* same as the height */
  margin-right: 10px; /* add some space between the i and p elements */
}

.reserved p {
  margin: 0; /* remove default margin */
  line-height: 20px; /* same as the height of the i element */
}


 @media (max-width: 767px) {
  
    .about-us-section {
      background-image: url('../Images/aboutus-background-mobile.jpg');
      background-size: contain;
      background-position: center;
    }
  
    .about-us-left {
      margin-left: 4%;
      margin-right: 4%;
      padding: 30% 5% 10% 1%;
     
    }
  
    .about-us-left h1 {
      font-size: 2rem;
      line-height: 115%;
      
    }
  
    .about-us-left p {
      font-size: 1rem;
      line-height: 150%;
    }

    #footer .row {
        text-align: center;
      }
      #footer .col-lg-3 {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
      }
  }
/* For mobile */
@media (max-width: 767px) {
  .dropdown-menu-1 {
    left: 0 !important;
    right: auto !important;
    background-color: #ffd043; /* Change to desired background color */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* Change to desired font size */
  }
}

/* For desktop */
@media (min-width: 768px) {
  .dropdown-menu-1 {
    left: auto !important;
    right: 0 !important;
    width: auto !important;
    background-color: #ffd043; /* Change to desired background color */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* Change to desired font size */
  }
}




